.mainbg {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: black;
}
.sideBar {
  width: 60%;
}
.salaryItem {
  margin-bottom: 10px;
}
.text {
  color: #ffffff;
  font-family: 'roboto';
}
.searchBar {
  margin-left: 60px;
  border: 2px solid #2c364c;
  background-color: black;
  color: #ffffff;
  border-radius: 2px;
}
.searchBut {
  background-color: transparent;
  border: none;
}
.noJobs {
  height: 200px;
}
.text {
  color: #ffffff;
  font-family: 'roboto';
}
